.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
dist/*.map

# Spotify client secret + refresh token written by spotify_setup.py -- never commit
.spotify_auth.json