/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 1.7em;
$heading2Size: 1.5em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

.reveal h1 {
  font-size: var(--r-heading1-size);
  display: block;
  text-align: center;
  font-style: bold;
  border-bottom-style: solid;
  border-bottom-color: #d6d2c4;
  padding-bottom: 0px;
  border-bottom-width: 3px;
  font-size: $heading1Size;
}

.reveal .highlightedBox {
  display: block;
  text-align: left;
  font-style: normal;
  border-left-style: solid;
  border-left-color: #ff6600;
  background-color: #5f8297;
  padding-left: 5px;
  border-left-width: 5px;
  color: #fff;
  margin-bottom: 0;
  padding-bottom: 0;
}

.reveal .highlightedBox:before {
  content: ;
  font-weight: bold;
  color: #fff;
  font-style: normal;
}

.reveal .highlightedBox[name]:before {
  content: attr(name) ;
}

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
